parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: DependencyInjection/Configuration.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\DependencyInjection\\\\Configuration\\:\\:createButtonChildren\\(\\) has no return type specified\\.$#"
			count: 1
			path: DependencyInjection/Configuration.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\DependencyInjection\\\\Configuration\\:\\:createButtonChildren\\(\\) has parameter \\$rootNodeChildren with no type specified\\.$#"
			count: 1
			path: DependencyInjection/Configuration.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\DependencyInjection\\\\Configuration\\:\\:createSimpleChildren\\(\\) has no return type specified\\.$#"
			count: 1
			path: DependencyInjection/Configuration.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\DependencyInjection\\\\Configuration\\:\\:createSimpleChildren\\(\\) has parameter \\$rootNodeChildren with no type specified\\.$#"
			count: 1
			path: DependencyInjection/Configuration.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\DependencyInjection\\\\Configuration\\:\\:createSimpleChildren\\(\\) has parameter \\$withOptions with no type specified\\.$#"
			count: 1
			path: DependencyInjection/Configuration.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\DependencyInjection\\\\Configuration\\:\\:createThemeChildren\\(\\) has no return type specified\\.$#"
			count: 1
			path: DependencyInjection/Configuration.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\DependencyInjection\\\\Configuration\\:\\:createThemeChildren\\(\\) has parameter \\$rootNodeChildren with no type specified\\.$#"
			count: 1
			path: DependencyInjection/Configuration.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\DependencyInjection\\\\Configuration\\:\\:createWidgetTree\\(\\) has no return type specified\\.$#"
			count: 1
			path: DependencyInjection/Configuration.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\DependencyInjection\\\\Configuration\\:\\:createWidgetTree\\(\\) has parameter \\$node with no type specified\\.$#"
			count: 1
			path: DependencyInjection/Configuration.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\DependencyInjection\\\\Configuration\\:\\:createsubThemeChildren\\(\\) has no return type specified\\.$#"
			count: 1
			path: DependencyInjection/Configuration.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\DependencyInjection\\\\Configuration\\:\\:createsubThemeChildren\\(\\) has parameter \\$rootNodeChildren with no type specified\\.$#"
			count: 1
			path: DependencyInjection/Configuration.php

		-
			message: "#^Parameter \\$messageInterface of method Avanzu\\\\AdminThemeBundle\\\\Event\\\\MessageListEvent\\:\\:addMessage\\(\\) has invalid type Avanzu\\\\AdminThemeBundle\\\\Model\\\\MessageInterface\\.$#"
			count: 2
			path: Event/MessageListEvent.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Event\\\\NotificationListEvent\\:\\:setTotal\\(\\) has no return type specified\\.$#"
			count: 1
			path: Event/NotificationListEvent.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Event\\\\NotificationListEvent\\:\\:\\$max has no type specified\\.$#"
			count: 1
			path: Event/NotificationListEvent.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Event\\\\NotificationListEvent\\:\\:\\$total has no type specified\\.$#"
			count: 1
			path: Event/NotificationListEvent.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Event\\\\ShowUserEvent\\:\\:addLink\\(\\) has no return type specified\\.$#"
			count: 1
			path: Event/ShowUserEvent.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Event\\\\ShowUserEvent\\:\\:getUser\\(\\) has invalid return type Avanzu\\\\AdminThemeBundle\\\\Model\\\\UserInterface\\.$#"
			count: 1
			path: Event/ShowUserEvent.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Event\\\\ShowUserEvent\\:\\:setShowLogoutLink\\(\\) has no return type specified\\.$#"
			count: 1
			path: Event/ShowUserEvent.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Event\\\\ShowUserEvent\\:\\:setShowProfileLink\\(\\) has no return type specified\\.$#"
			count: 1
			path: Event/ShowUserEvent.php

		-
			message: "#^Parameter \\$user of method Avanzu\\\\AdminThemeBundle\\\\Event\\\\ShowUserEvent\\:\\:setUser\\(\\) has invalid type Avanzu\\\\AdminThemeBundle\\\\Model\\\\UserInterface\\.$#"
			count: 1
			path: Event/ShowUserEvent.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Event\\\\ShowUserEvent\\:\\:\\$user has unknown class Avanzu\\\\AdminThemeBundle\\\\Model\\\\UserInterface as its type\\.$#"
			count: 1
			path: Event/ShowUserEvent.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Event\\\\TaskListEvent\\:\\:\\$max has no type specified\\.$#"
			count: 1
			path: Event/TaskListEvent.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Event\\\\TaskListEvent\\:\\:\\$tasks has no type specified\\.$#"
			count: 1
			path: Event/TaskListEvent.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Event\\\\TaskListEvent\\:\\:\\$total has no type specified\\.$#"
			count: 1
			path: Event/TaskListEvent.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\EventListener\\\\ContextListener\\:\\:__construct\\(\\) has parameter \\$container with no type specified\\.$#"
			count: 1
			path: EventListener/ContextListener.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\EventListener\\\\ContextListener\\:\\:getUser\\(\\) has no return type specified\\.$#"
			count: 1
			path: EventListener/ContextListener.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\EventListener\\\\ContextListener\\:\\:onRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: EventListener/ContextListener.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\EventListener\\\\ContextListener\\:\\:\\$container has no type specified\\.$#"
			count: 1
			path: EventListener/ContextListener.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\EventListener\\\\ContextListener\\:\\:\\$indicator has no type specified\\.$#"
			count: 1
			path: EventListener/ContextListener.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\EventListener\\\\SetupThemeListener\\:\\:__construct\\(\\) has parameter \\$cssBase with no type specified\\.$#"
			count: 1
			path: EventListener/SetupThemeListener.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\EventListener\\\\SetupThemeListener\\:\\:__construct\\(\\) has parameter \\$lteAdmin with no type specified\\.$#"
			count: 1
			path: EventListener/SetupThemeListener.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\EventListener\\\\SetupThemeListener\\:\\:__construct\\(\\) has parameter \\$manager with no type specified\\.$#"
			count: 1
			path: EventListener/SetupThemeListener.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\EventListener\\\\SetupThemeListener\\:\\:onKernelController\\(\\) has no return type specified\\.$#"
			count: 1
			path: EventListener/SetupThemeListener.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\EventListener\\\\SetupThemeListener\\:\\:\\$cssBase has no type specified\\.$#"
			count: 1
			path: EventListener/SetupThemeListener.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\EventListener\\\\SetupThemeListener\\:\\:\\$lteAdmin has no type specified\\.$#"
			count: 1
			path: EventListener/SetupThemeListener.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\NavBarUserLink\\:\\:__construct\\(\\) has parameter \\$parameters with no type specified\\.$#"
			count: 1
			path: Model/NavBarUserLink.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\NavBarUserLink\\:\\:__construct\\(\\) has parameter \\$path with no type specified\\.$#"
			count: 1
			path: Model/NavBarUserLink.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\NavBarUserLink\\:\\:__construct\\(\\) has parameter \\$title with no type specified\\.$#"
			count: 1
			path: Model/NavBarUserLink.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\NavBarUserLink\\:\\:setParameters\\(\\) has no return type specified\\.$#"
			count: 1
			path: Model/NavBarUserLink.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\NavBarUserLink\\:\\:setPath\\(\\) has no return type specified\\.$#"
			count: 1
			path: Model/NavBarUserLink.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\NavBarUserLink\\:\\:setTitle\\(\\) has no return type specified\\.$#"
			count: 1
			path: Model/NavBarUserLink.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\NotificationInterface\\:\\:getIcon\\(\\) has no return type specified\\.$#"
			count: 1
			path: Model/NotificationInterface.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\NotificationInterface\\:\\:getIdentifier\\(\\) has no return type specified\\.$#"
			count: 1
			path: Model/NotificationInterface.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\NotificationInterface\\:\\:getMessage\\(\\) has no return type specified\\.$#"
			count: 1
			path: Model/NotificationInterface.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\NotificationInterface\\:\\:getType\\(\\) has no return type specified\\.$#"
			count: 1
			path: Model/NotificationInterface.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\NotificationModel\\:\\:__construct\\(\\) has parameter \\$icon with no type specified\\.$#"
			count: 1
			path: Model/NotificationModel.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\NotificationModel\\:\\:__construct\\(\\) has parameter \\$message with no type specified\\.$#"
			count: 1
			path: Model/NotificationModel.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\NotificationModel\\:\\:__construct\\(\\) has parameter \\$type with no type specified\\.$#"
			count: 1
			path: Model/NotificationModel.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\NotificationModel\\:\\:getIdentifier\\(\\) has no return type specified\\.$#"
			count: 1
			path: Model/NotificationModel.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Model\\\\NotificationModel\\:\\:\\$icon has no type specified\\.$#"
			count: 1
			path: Model/NotificationModel.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Model\\\\NotificationModel\\:\\:\\$message has no type specified\\.$#"
			count: 1
			path: Model/NotificationModel.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Model\\\\NotificationModel\\:\\:\\$type has no type specified\\.$#"
			count: 1
			path: Model/NotificationModel.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\TaskInterface\\:\\:getColor\\(\\) has no return type specified\\.$#"
			count: 1
			path: Model/TaskInterface.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\TaskInterface\\:\\:getIdentifier\\(\\) has no return type specified\\.$#"
			count: 1
			path: Model/TaskInterface.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\TaskInterface\\:\\:getProgress\\(\\) has no return type specified\\.$#"
			count: 1
			path: Model/TaskInterface.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\TaskInterface\\:\\:getTitle\\(\\) has no return type specified\\.$#"
			count: 1
			path: Model/TaskInterface.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Model\\\\TaskModel\\:\\:getIdentifier\\(\\) has no return type specified\\.$#"
			count: 1
			path: Model/TaskModel.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Model\\\\TaskModel\\:\\:\\$progress \\(int\\) does not accept mixed\\.$#"
			count: 1
			path: Model/TaskModel.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Model\\\\TaskModel\\:\\:\\$title \\(null\\) does not accept mixed\\.$#"
			count: 1
			path: Model/TaskModel.php

		-
			message: "#^Call to function is_null\\(\\) with array will always evaluate to false\\.$#"
			count: 1
			path: Routing/RouteAliasCollection.php

		-
			message: "#^Cannot access offset mixed on mixed\\.$#"
			count: 2
			path: Routing/RouteAliasCollection.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Routing\\\\RouteAliasCollection\\:\\:__construct\\(\\) has parameter \\$cacheDir with no type specified\\.$#"
			count: 1
			path: Routing/RouteAliasCollection.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Routing\\\\RouteAliasCollection\\:\\:__construct\\(\\) has parameter \\$debug with no type specified\\.$#"
			count: 1
			path: Routing/RouteAliasCollection.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Routing\\\\RouteAliasCollection\\:\\:__construct\\(\\) has parameter \\$env with no type specified\\.$#"
			count: 1
			path: Routing/RouteAliasCollection.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Routing\\\\RouteAliasCollection\\:\\:__construct\\(\\) has parameter \\$optionName with no type specified\\.$#"
			count: 1
			path: Routing/RouteAliasCollection.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Routing\\\\RouteAliasCollection\\:\\:getRouteByAlias\\(\\) has parameter \\$name with no type specified\\.$#"
			count: 1
			path: Routing/RouteAliasCollection.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Routing\\\\RouteAliasCollection\\:\\:hasAlias\\(\\) has parameter \\$name with no type specified\\.$#"
			count: 1
			path: Routing/RouteAliasCollection.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Routing\\\\RouteAliasCollection\\:\\:\\$debug is never read, only written\\.$#"
			count: 1
			path: Routing/RouteAliasCollection.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: Routing/RouteAliasCollection.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:__construct\\(\\) has parameter \\$container with no type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:__construct\\(\\) has parameter \\$resolverClass with no type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:getLocator\\(\\) should return Symfony\\\\Component\\\\HttpKernel\\\\Config\\\\FileLocator but returns object\\|null\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:getResolver\\(\\) should return Avanzu\\\\AdminThemeBundle\\\\Util\\\\DependencyResolverInterface but returns object\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:getScripts\\(\\) has no return type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:getScripts\\(\\) has parameter \\$location with no type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:getStyles\\(\\) has no return type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:registerScript\\(\\) has no return type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:registerScript\\(\\) has parameter \\$deps with no type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:registerScript\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:registerScript\\(\\) has parameter \\$location with no type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:registerScript\\(\\) has parameter \\$src with no type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:registerStyle\\(\\) has no return type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:registerStyle\\(\\) has parameter \\$deps with no type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:registerStyle\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:registerStyle\\(\\) has parameter \\$src with no type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:\\$javascripts has no type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:\\$locations has no type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:\\$resolverClass has no type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Property Avanzu\\\\AdminThemeBundle\\\\Theme\\\\ThemeManager\\:\\:\\$stylesheets has no type specified\\.$#"
			count: 1
			path: Theme/ThemeManager.php

		-
			message: "#^Argument of an invalid type null supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: Util/DependencyResolver.php

		-
			message: "#^Call to function is_array\\(\\) with null will always evaluate to false\\.$#"
			count: 1
			path: Util/DependencyResolver.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Util\\\\DependencyResolver\\:\\:contains\\(\\) has parameter \\$haystackId with no type specified\\.$#"
			count: 1
			path: Util/DependencyResolver.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Util\\\\DependencyResolver\\:\\:contains\\(\\) has parameter \\$needle with no type specified\\.$#"
			count: 1
			path: Util/DependencyResolver.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Util\\\\DependencyResolver\\:\\:getDependencies\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: Util/DependencyResolver.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Util\\\\DependencyResolver\\:\\:hasDependencies\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: Util/DependencyResolver.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Util\\\\DependencyResolver\\:\\:register\\(\\) has parameter \\$items with no type specified\\.$#"
			count: 1
			path: Util/DependencyResolver.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Util\\\\DependencyResolver\\:\\:resolve\\(\\) has no return type specified\\.$#"
			count: 1
			path: Util/DependencyResolver.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Util\\\\DependencyResolver\\:\\:resolve\\(\\) has parameter \\$ids with no type specified\\.$#"
			count: 1
			path: Util/DependencyResolver.php

		-
			message: "#^Method Avanzu\\\\AdminThemeBundle\\\\Util\\\\DependencyResolver\\:\\:unresolved\\(\\) has parameter \\$deps with no type specified\\.$#"
			count: 1
			path: Util/DependencyResolver.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: Util/DependencyResolver.php

