<!DOCTYPE html{% block avanzu_html_start %}{% endblock %}>
<html>
<head>

    <title>{% block avanzu_login_title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ asset('theme/bootstrap/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('theme/dist/css/AdminLTE.min.css') }}">
    {% block avanzu_head %}{% endblock %}
</head>
<body{% block avanzu_body_start %}{% endblock %} class="hold-transition login-page">
{% block avanzu_after_body_start %}{% endblock %}
{% block avanzu_login_box %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('homepage') }}">
                {% block avanzu_logo_login %}{% endblock %}
            </a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">
                {% block avanzu_login_box_msg %}{% endblock %}
            </p>

            {% block avanzu_login_form %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}
{% block javascripts_inline %}{% endblock %}
</body>
</html>
